<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div　class='col-md-3'>
      <h3><%= @public.name %></h3>
      <p><%= link_to "プロフィール編集", edit_customer_path %></p>
    </div>
    
    <% @items.each do |item| %>
    <div>
      <%= link_to item_path(item.id) do %>
    
      <% end %>
    
      <p>商品名：<%= link_to item.title,item, class: "item_#{item.id}" %></p>
      <p>レビュー：<%= item.body %></p>
    </div>
    <% end %>
  </div>
</div>

<%= paginate @items %>